<div *ngIf = "dataLoaded==false"class="spinner-border text-warning" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <table class="table table-striped table-active">
    <thead class="thead-light">
        <tr>
            <th>Müşteri</th>
            <th>Şirket</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers">
        <td>{{customer.firstName + " " + customer.lastName}}</td>
        <td>{{customer.companyName}}</td>
    </tr>
    </tbody>
    
  </table>